<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.routecar" >
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <application
        android:name=".application.DemoApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name">
        <meta-data
            android:name="com.skobbler.ngx.API_KEY"
            android:value="0ee06f8dd98cea6e16a5beed11884a35e7be564b5e8a917289db31c20091db72"/>
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDRmC_ch44GZvqcw7hj44L0RpyzV0z9ibg" />
        <activity
            android:name=".SplashActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/SplashActivityTheme">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MapActivity"
            android:configChanges="orientation|screenSize"></activity>
    </application>

</manifest>
